@import "tailwindcss";
@source "../components";

:root {
  --background: #1b1b1c;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}